name: image_merger
description: A Flutter app to merge multiple images vertically with zoom, pan, and drag scroll functionality.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  file_picker: ^10.3.7
  image: ^4.1.3
  path_provider: ^2.1.1
  path: ^1.8.3
  desktop_drop: ^0.4.4
  file_selector: ^1.0.3
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
